
{{#if driver}}


    <div class="p-5" style="display: flex; justify-content: space-between; align-items: center; border-radius: 20px;">

        <div class="datas">

            <h2 style="color: #1d5e91; margin-bottom: 50px; text-align: center">Perfil de {{driver.name}}</h2> </h2>
            
            <p>Email: <strong>{{driver.email}}</strong></p>
            <p>Telemóvel: <strong>{{driver.phone}}</strong></p>
            <p>Marca da Viatura: <strong>{{driver.car_details.car_brand}}</strong></p>
            <p>Modelo da Viatura: <strong>{{driver.car_details.car_model}}</strong></p>
            <p>Matrícula da Viatura: <strong>{{driver.car_details.car_number}}</strong></p>
            <p>Cor da Viatura: <strong>{{driver.car_details.car_color}}</strong></p>
            {{!-- <p>Estado: <strong>{{driver.newRideStatus}}</strong></p> --}}

        </div>

        <img src="/img/driver.jpg" class="card-img-top" alt="Motorista da Kandonga" style="width: 10rem; border-radius: 10px;">

    </div>
 
    <div class="p-3">

        
        {{#if fareAmount}}

            <div class="card">
                
                <div class="card-header p-4">
                    <h4 style="color: #1d5e91;">Histórico financeiro:</h4>
                </div>

                <div class="card-body p-5">
                    
                    <div class="amounts">
                        <h3 class="card-text amountDriver">Motorista: {{amountDriver}} AKZ</h3>
                        <h3 class="card-text amountEnterprise">Empresa: {{amountEnterprise}} AKZ</h3>
                    </div>

                    <hr>
                   
                    <h2 class="text-center pt-5" style="color: #1d5e91">Total: {{fareAmount}} AKZ</h2>

                </div>
            </div>

        {{else}}

            <p>Sem histórico financeiro!</p>

        {{/if}}

    </div>

    <div class="historicRaces my-5 p-3">

        {{#if historic}}

            <div class="card">
                
                <div class="card-header p-4">
                    <h4 style="color: #1d5e91;">Histórico de corridas:</h4>
                </div>

                <div class="card-body p-5">
                    
                    {{#each historic}}                    
                        
                        <p>Origem: <strong>{{originAddress}}</strong> </p>
                        <p>Destino: <strong>{{destinationAdress}}</strong></p>
                        <p>Passageiro: <strong>{{userName}}</strong></p>
                        <p>Preço: <strong>{{fareAmount}}</strong></p>
                        <p>Data: <strong>{{time}}</strong></p>

                        <hr>
                    {{/each}}

                </div>
            </div>

        {{else}}

            <h4 style="color: #1d5e91;">Sem histórico de corrida.!</h4>

        {{/if}}

    </div>
{{/if}}
